




<div class="row content-article">

    <div class="col s12 m6 l4">
        <!-- CONDICIONAL PARA MOSTRAR IMAGEN -->

        <div class="center-align">
            <div *ngIf="article.image != 'default.png'; then thenBlockImage else elseBlockImage"></div>
            <ng-template #thenBlockImage>
                <img class="responsive-img" src="{{url}}image/{{article.image}}">
             </ng-template>
             <ng-template #elseBlockImage>
                <img class="responsive-img" src="https://materializecss.com/images/sample-1.jpg">
             </ng-template>
        </div>
        <!-- FIN CONDICIONAL PARA MOSTRAR IMAGEN -->
    </div>
    <div class="col s12 m6 l8">
        <div class="center-align">
            <h4>
                {{article.title}}
            </h4>
        </div>
        {{article.content}}
    </div>
</div>

<app-article-delete></app-article-delete>
<app-image-upload></app-image-upload>

<div class="fixed-action-btn">
    <a class="btn-floating btn-large green accent-4">
        <i class="large material-icons">expand_less</i>
    </a>
    <ul>
        <li>
            <a class="btn-floating red accent-4 tooltipped modal-trigger" data-position="left" data-tooltip="Delete article" href="#modal-delete">
                <i class="material-icons">delete_forever</i>
            </a>
        </li>
        <li>
            <a class="btn-floating yellow accent-4 tooltipped modal-trigger" data-position="left" data-tooltip="Edit article" href="#modal-edit">
                <i class="material-icons">mode_edit</i>
            </a>
        </li>
        <li>
            <a class="btn-floating blue accent-4 tooltipped modal-trigger" data-position="left" data-tooltip="Update image" href="#modal-upload-image">
                <i class="material-icons">attach_file</i>
            </a>
        </li>
    </ul>
</div>

