  <!-- Modal Trigger -->
  <!-- <a class="waves-effect waves-light btn modal-trigger" href="#modal-delete">Modal</a> -->

  <!-- Modal Structure -->
  <div id="modal-delete" class="modal modal-fixed-footer test">
    <div class="modal-content">
      <h5>{{page_title}}</h5>
    </div>
    <div class="modal-footer">
        <a class="modal-close waves-effect waves-red btn-flat">
            Cancel
            <i class="material-icons right">close</i>
        </a>

        <button class="modal-close waves-effect waves-green btn-flat"  (click)="delete()">
            OK
            <i class="material-icons right">thumb_up_alt</i>
        </button>
    </div>
  </div>