<div class="container" *ngIf="!articles">
   <p class="center-align"><i><strong>Cargando...</strong></i></p>
   <div class="progress">
      <div class="indeterminate"></div>
   </div>
</div>

<div *ngIf="articles">
   <div>
      <h4 class="center-align">{{page_title}}</h4>
   </div>

   <div class="row">
      <div class="col s12 m6 l3" *ngFor="let article of articles">
         <div class="card">
            <div class="card-image">
               <!-- CONDICIONAL PARA MOSTRAR IMAGEN -->
               <div *ngIf="article.image != 'default.png'; then thenBlockImage else elseBlockImage"></div>
               <ng-template #thenBlockImage>
                  <img src="{{url}}image/{{article.image}}">
               </ng-template>
               <ng-template #elseBlockImage>
                  <img src="https://materializecss.com/images/sample-1.jpg">
               </ng-template>
               <!-- FIN CONDICIONAL PARA MOSTRAR IMAGEN -->

               <span class="card-title">{{article.title}}</span>
               <a class="btn-floating halfway-fab waves-effect waves-light red pulse" [routerLink]="['/article-detail', article._id]"><i class="material-icons">visibility</i></a>
            </div>
            <div class="card-content">
               <p class="truncate">{{article.content}}</p>
            </div>
            <div class="card-action center-align">
               {{format_date(article.date)}}
            </div>
         </div>
      </div>
   </div>

</div>
